.login {
    height: 100vh;
    background-color: #1D1A39;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .login .card {
    width: 50%;
    display: flex;
    background-color: white;
    border-radius: 10px;
    min-height: 600px;
    overflow: hidden;
  }
  
 
  .login .card .left {
    flex: 1;
    background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)),
      url("/src/Image/back.jpg") center;
    background-size: cover;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
  }
  
  .login .card .left h1 {
    font-size: 50px;
    line-height: 100px;
  }
  
  .login .card .left span {
    font-size: 14px;
  }
  
  .login .card .left button {
    background-color:#451952;
    font-weight: bold;
    cursor: pointer;
  }
  
  
  .login .card .right {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
  }
  
  .login .card .right h1 {
    color: #555;
  }
  
  .login .card .right form {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .login .card .right form input {
    border: none;
    border-bottom: 1px solid lightgray;
    padding: 20px 10px;
  }
  
  .login .card .right form button {
    border: none;
    background-color:#451952;
    font-weight: bold;
    cursor: pointer;
  }
  
  /* Media Queries */
  @media screen and (max-width: 768px) {
    
    .login .card {
      flex-direction: column; 
      width: 80%; 
    }
  
    .login .card .left {
      padding: 20px; 
      text-align: center; 
    }
  
    .login .card .left h1 {
      font-size: 30px; 
      line-height: 50px;
    }
  
    .login .card .left button {
      width: 70%; 
    }
  
    .login .card .right {
      padding: 20px; 
      text-align: center; 
    }
  
    
  }
  