body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.register {
  height: 100vh;
  background-color:rgba(78, 7, 178, 0.897); 
  display: flex;
  align-items: center;
  justify-content: center;
}


.register .card {
  width: 80%; 
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); 
}


.register .card .left {
  flex: 1;
  background: linear-gradient(rgba(59, 130, 246, 0.8), rgba(59, 130, 246, 0.8)),
              url("/src/Image/back.jpg") center;
  background-size: cover;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: white;
  text-align: center;
}

.register .card .left h1 {
  font-size: 3rem; 
  line-height: 1.2;
}

.register .card .left span {
  font-size: 1.2rem;
}

.register .card .left button {
  padding: 12px 24px;
  border: none;
  background-color: rgba(30, 0, 75, 0.62); 
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s; 
}

.register .card .left button:hover {
  background-color: #EF4444; 
}


.register .card .right {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  background-color: #F3F4F6; 
}

.register .card .right h1 {
  font-size: 2rem;
  color: #4B5563; 
}

.register .card .right form {
  display: flex;
  flex-direction: column;
  gap: 20px; 
}

.register .card .right form input {
  border: 1px solid #D1D5DB; 
  padding: 12px 10px;
  border-radius: 5px; 
  font-size: 1rem;
}

.register .card .right form button {
  width: 60%; 
  padding: 12px 24px;
  border: none;
  background-color: #EF4444; 
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register .card .right form button:hover {
  background-color: rgba(30, 0, 75, 0.62);
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .register .card {
    flex-direction: column;
    width: 90%; 
  }

  .register .card .left {
    padding: 20px;
  }

  .register .card .left h1 {
    font-size: 2.5rem; 
    line-height: 1.2;
  }

  .register .card .left button {
    width: 70%;
  }

  .register .card .right {
    padding: 20px;
  }
}

