.share {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #f9f9f9;
  margin-bottom: 20px;
  transition: transform 0.2s;
}

.share .container {
  padding: 20px;
}


.share .container .top {
  display: flex;
  align-items: center;
  gap: 20px;
}

.share .container .top img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.share .container .top input {
  border: none;
  outline: none;
  padding: 12px;
  width: 100%;
  border-radius: 5px;
  font-size: 14px;
}


.share .container .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.share .container .bottom .left {
  display: flex;
  align-items: center;
  gap: 10px;
}



.share .container .bottom .left .item img {
  height: 16px;
}

.share .container .bottom .left .item span {
  font-size: 12px;
  color: #888; 
}







