.home {
  padding: 20px 70px;
  background-color:#553772;
};
  
 
@media (max-width: 480px) {
  .home {
    padding: 10px;
  }
};
  
  
@media (max-width: 960px) {
  .home {
    padding: 20px;
  }
};
  