.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #553772;
  color: white;
  padding: 10px 20px;
}

.left {
  flex: 1;
}

.navbar a {
  text-decoration: none;
  color: #fff;
}

.right {
  flex: 1;
  text-align: right;
}

.user {
  display: flex;
  align-items: center;
}

.user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}


