.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#553772;
  color: #fff;
  padding: 10px 20px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
}

.left {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
}

.user {
  display: flex;
  align-items: center;
}

.user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.user span {
  font-weight: bold;
  font-size: 16px;
}
