.comments {
  margin: 10px 0;
}

.write {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: #f0f2f5; 
  border-radius: 30px; 
  padding: 10px;
}

.write img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.write input[type="text"] {
  flex: 1;
  border: none;
  background-color: transparent; 
  font-size: 16px;
  margin-right: 10px;
  outline: none; 
}

.write input[type="text"]::placeholder {
  color: #ccc;
}

.write input[type="text"]:focus {
  outline: none;
}



.comment {
  display: flex;
  flex-direction: column;
  align-items: inherit;
  margin-bottom: 10px;
  padding: 10px;
  border-radius:8px;
  background-color: #fff; 
  box-shadow: 0 3px 6px  rgba(30, 0, 75, 0.62); 
}

.comment img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 10px;
}

.comment .info {
  flex: 1;
}

.comment .info span {
  font-weight: bold;
  font-size: 18px;
}

.comment .info p {
  font-size: 16px;
  background-color: #f0f2f5;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
}

.comment .date {
  font-size: 14px;
  color: #555;
}



.MuiSvgIcon-root {
  color:rgba(30, 0, 75, 0.62);
  cursor: pointer;
}