.comments {
  border-top: 1px solid #ddd;
  margin-top: 20px;
  padding-top: 20px;
}


.write {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.write img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.write input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
}

.write button {
  background-color:#f5487f;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  margin-left: 10px;
}

.write button:hover {
  background-color: #f5487f;
}

/* Comment */
.comment {
  display: flex;
  margin-bottom: 20px;
}

.comment img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.comment .info {
  flex-grow: 1;
}

.comment .info span {
  font-weight: bold;
}

.comment .date {
  color: #888;
}

.comment p {
  margin-top: 5px;
}


.loading,
.error-message {
  text-align: center;
  font-size: 16px;
  color: #888;
  margin-bottom: 20px;
}

