.comments {
  border-top: 1px solid #ddd;
  margin-top: 20px;
  padding-top: 20px;
}

.write {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.write img {
  width: 48px; 
  height: 48px; 
  object-fit: cover;
  border-radius: 50%;
  margin-right: 12px; 
}

.write input[type="text"] {
  flex-grow: 1;
  padding: 12px; 
  border: 1px solid #ccc;
  border-radius: 25px; 
  outline: none;
  font-size: 16px; 
}

.write button {
  background-color: #AE445A;
  color: #fff;
  border: none;
  padding: 12px 24px; 
  font-size: 18px;
  cursor: pointer;
  border-radius: 25px; 
  margin-left: 12px; 
}

.write button:hover {
  background-color: #f5487f;
}


.comment {
  display: flex;
  margin-bottom: 20px;
}

.comment img {
  width: 48px;
  height: 48px; 
  object-fit: cover;
  border-radius: 50%;
  margin-right: 12px; 
}

.comment .info {
  flex-grow: 1;
}

.comment .info span {
  font-weight: 600; 
}

.comment .date {
  color: #888;
  font-size: 14px; 
}

.comment p {
  margin-top: 8px; 
}

.loading,
.error-message {
  text-align: center;
  font-size: 18px;
  color: #888;
  margin-bottom: 20px;
}
