
.post {
  -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  border-radius: 20px;
  background-color: white; 
  color: #000; 
}

/* Styles for .container inside .post */
.post .container {
  padding: 20px;
}

/* Styles for .user inside .container */
.post .container .user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Styles for .userInfo inside .user */
.post .container .user .userInfo {
  display: flex;
  gap: 20px;
}

/* Styles for images inside .userInfo */
.post .container .user .userInfo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

/* Styles for .details inside .userInfo */
.post .container .user .userInfo .details {
  display: flex;
  flex-direction: column;
}

/* Styles for .name inside .details */
.post .container .user .userInfo .details .name {
  font-weight: 500;
}

/* Styles for .date inside .details */
.post .container .user .userInfo .details .date {
  font-size: 12px;
}

/* Styles for .content inside .container */
.post .container .content {
  margin: 20px 0px;
}

/* Styles for images inside .content */
.post .container .content img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  margin-top: 20px;
}

/* Styles for .info inside .container */
.post .container .info {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Styles for .item inside .info */
.post .container .info .item {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 14px;
}


  